* {
 box-sizing: border-box;
}


:root {
--crimson: #d7263dff;
--oxford-blue: #02182bff;
--tufts-blue: #0197f6ff;
--blue-munsell: #448fa3ff;
--middle-blue: #68c5dbff;
}

html {
    background-color: rgb(2, 24, 43);
    color: whitesmoke;
}

main {
    height: 750px;
    width: 900px;
    min-height: 75vh;
    min-width: 50vw;
    margin: auto;

    border: 5px whitesmoke double;
    padding: 1rem;

    display: grid;
    grid-template-columns: 50% auto;
    column-gap: 1rem;
    
    background-color: #0197F6;

}

.panel{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 0.2rem;
    column-gap: 0.2rem;
    background-color: whitesmoke;
    border: 5px var(--oxford-blue) solid;
    padding: 0.25rem;
}

.screen{
    border: 5px white solid;
    font-size: 32px;
    padding: 0.5rem;

    display: grid;
    grid-template-rows: 90% auto;
    row-gap: 1rem;

    overflow-y: hidden;
    background-color: var(--oxford-blue);

}

.row {
    background-color: #448FA3;
    text-align: right;
    border: 5px  solid;
    padding: 0.25rem;
}

.log{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    overflow-y: hidden; 
}

.logbox{
    width: 20px;
    min-width: 100%;
    background-color: aliceblue;
    color: black;
    margin-top: 0.5rem;
    margin: 2.5px black solid;
    transition: 0.25s;
}

.logbox:hover{
    background-color: var(--crimson);
    cursor: pointer;
    color: white;
}

.panel > button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
}

h1 {
    text-align: center;
    color: var(--crimson);
    font-size: 300%;
    transition: 0.25s;
}

h1:hover{
    color: white;
}

button{
    border-color: black;
    transition-duration: 0.25s;
}

button:hover{
    color: white;
    font-weight: bold;
}

button.number{
    background-color: var(--middle-blue);
}

button.number:hover{
    background-color: var(--crimson);
}

button.opbtn:hover{
    background-color: var(--blue-munsell);
}

button.fnbtn:hover{
    background-color: var(--crimson);
}